body{
    font-family: Arial;
    padding: 20px;
    background:#f4f4f4;
}

.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#results{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.book{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.review{
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}